{"openapi":"3.0.3","info":{"title":"Imagery API Documentation","contact":{"name":"EagleView","url":"https://www.eagleview.com/","email":"developersupport@eagleview.com"},"version":"0.0.36","description":"# Introduction\n\n## About\nEagleView’s Imagery API provides access to top down (ortho) and side angle (oblique) imagery.\n\n[Discovery](#tag/Discovery) is your starting point to find images and their corresponding metadata. [Tiles](#tag/Tiles) can be used to gain high-performance access to imagery, while [Images](#tag/Images) can be used to retrieve larger images.\n\nRefer to the [Imagery API User Guides](https://developer.eagleview.com/documentation/imagery/v1/guides/getting-started) for help getting started.\n\n## Documentation Overview\nEach API endpoint in this documentation consists of:\n- **The HTTP method.** Currently includes `GET` and `POST`.\n- **The base path.** The base path is `https://sandbox.apis.eagleview.com` for the sandbox or `https://apis.eagleview.com` for production. This base path is specified before the endpoint path.\n- **The endpoint path.** For example, `/imagery/v3/discovery/rank/location`.\n- **Required parameters.** These parameters must be included in a request. In the previous example, `location` is a required parameter.\n- **Optional parameters.** These parameters can be included in a request if desired.\n\n## Sandbox\nThe Imagery API can be tested in sandbox mode. The sandbox testing area is limited to the following bounding box, which covers approximately 1.5 square miles in Omaha, Nebraska:\n```text\n-96.00532698173473, 41.24140396772262, -95.97589954958912, 41.25672882015283\n```\nRefer to the [Imagery API User Guides](https://developer.eagleview.com/documentation/imagery/v1/guides/getting-started) for a Postman collection which contains a number of sample requests.\n\n## Troubleshooting\nSupply a request header to enforce strict validation of the request:\n\n```text\nContent-Type: application/json+strict\n```"},"servers":[{"url":"https://apis.eagleview.com"}],"tags":[{"name":"Imagery API","description":"EagleView’s Imagery API provides access to top down (ortho) and side angle (oblique) imagery."},{"name":"Discovery","description":"Find images and their corresponding metadata."},{"name":"Tiles","description":"High-performance access to top down (ortho) and side angle (oblique) imagery using tiles."},{"name":"Images","description":"Access top down (ortho) and side angle (oblique) images."},{"name":"EviwAPI"}],"paths":{"/imagery/v3/images/{image_urn}/location":{"get":{"tags":["EviwAPI","v3","Images","latest"],"summary":"Fetch an image at a location","description":"Retrieve a portion of an image by supplying either an `area` or a `center` and `radius`.\n\nThis endpoint supports both top down (ortho) and side angle (oblique) imagery.\n\nImages up to 4096x4096px (or equivalent) are supported.","operationId":"GetImageAtLocationV3","parameters":[{"name":"image_urn","in":"path","description":"The unique reference number of the image.","required":true,"schema":{"type":"string"}},{"name":"area","in":"query","description":"The location to be returned within the image, expressed as a polygon in WKT.\n\n `area` shouldn’t be used with `center`.","schema":{"type":"string"}},{"name":"center.x","in":"query","description":"The x coordinate of the center point.\n `center` shouldn’t be used with `area`.","schema":{"type":"number","format":"double"}},{"name":"center.y","in":"query","description":"The y coordinate of the center point.\n `center` shouldn’t be used with `area`.","schema":{"type":"number","format":"double"}},{"name":"center.radius","in":"query","description":"Distance from the center.point in metres, between 1 - 100.\n `center` shouldn’t be used with `area`.","schema":{"type":"integer","format":"uint32"}},{"name":"epsg","in":"query","description":"EPSG (European Petroleum Survey Group) code of the projected or geographic coordinate system. This \n refers to the coordinate system in which the area/center is expressed. If no EPSG is provided, the default is EPSG:4326.","schema":{"type":"string"}},{"name":"zoom","in":"query","description":"The zoom level of the image to be returned:\n * For top down (ortho) imagery, follow the [Slippy Map Tilenames](https://wiki.openstreetmap.org/wiki/Slippy_map_tilenames) specification.\n * For side angle (oblique) imagery, the zoom level begins at 0 (most zoomed out).\n If no zoom level is provided, then native resolution will be used.\n\n `zoom` shouldn’t be used with `size`.","schema":{"type":"integer","format":"uint32"}},{"name":"size.width","in":"query","description":"The width of the image in pixels.\n `size` shouldn’t be used with `zoom`.","schema":{"type":"integer","format":"uint32"}},{"name":"size.height","in":"query","description":"The height of the image in pixels.\n `size` shouldn’t be used with `zoom`.","schema":{"type":"integer","format":"uint32"}},{"name":"format","in":"query","description":"The format of the returned image.","schema":{"enum":["IMAGE_FORMAT_UNSPECIFIED","IMAGE_FORMAT_JPEG","IMAGE_FORMAT_PNG","IMAGE_FORMAT_JPEG_PNG"],"type":"string","format":"enum"}},{"name":"padding","in":"query","description":"The minimum padding on each side of the image, following the CSS specification for padding. Accepts between 1 to 4 \n integers without units. For example, padding=5 requests padding of 5 pixels on each side, whilst padding=5,10,20,9 \n requests 5 pixels of top padding, 10 pixels of right padding, 20 pixels of bottom padding and 9 pixels of left padding.","schema":{"type":"string"}},{"name":"quality","in":"query","description":"The quality of the image based on compression/bandwidth requirements. A higher quality will result in a larger file size. \n Applies to the following image formats:\n - JPEG: Expressed as a percentage between 70 - 90. Defaults to 75.\n - JPEG_PNG: Expressed as a percentage between 70 - 90. Defaults to 75. Only applies if JPEG is used, does not apply to PNG.","schema":{"type":"integer","format":"uint32"}},{"name":"scale","in":"query","description":"If the requested image dimensions exceed 4096x4096px (or equivalent), the auto mode will automatically scale the image down to fit within the limit. This is the default. In contrast, the none mode will return an error. You can check the response headers to see the actual scaling applied.","schema":{"enum":["IMAGE_SCALE_UNSPECIFIED","IMAGE_SCALE_NONE","IMAGE_SCALE_AUTO"],"type":"string","format":"enum"}}],"responses":{"200":{"description":"OK","content":{"*/*":{}}},"400":{"description":"The request is invalid, check for missing required properties."},"401":{"description":"The request is unauthorized: token is missing, expired or invalid."},"403":{"description":"Authentication is valid, however user does not have permission to view this image."},"404":{"description":"The requested image is not found for the given URN."},"429":{"description":"Too many requests in a given amount of time."}},"x-badges":[{"name":"Alpha","position":"after","color":"red"}]}},"/imagery/v3/images/{image_urn}/tiles/{z}/{x}/{y}":{"get":{"tags":["EviwAPI","v3","Tiles","latest"],"summary":"Fetch an image tile","description":"Retrieve a 256x256 pixel tile for a specific image.\n\nThis endpoint supports both top down (ortho) and side angle (oblique) imagery.\n\nThe z/x/y values supplied will vary depending on the type of imagery being requested:\n- For top down (ortho) imagery, tiles follow the [Slippy Map Tilenames](https://wiki.openstreetmap.org/wiki/Slippy_map_tilenames) specification.\n- For side angle (oblique) imagery, the zoom level begins at 0 (most zoomed out). The x/y coordinates start from 0/0 (left edge/top edge).","operationId":"GetTileV3","parameters":[{"name":"image_urn","in":"path","description":"The unique reference number of the image","required":true,"schema":{"type":"string"}},{"name":"z","in":"path","description":"The tile zoom level.","required":true,"schema":{"type":"integer","format":"uint32"}},{"name":"x","in":"path","description":"The tile column coordinate.","required":true,"schema":{"type":"integer","format":"uint32"}},{"name":"y","in":"path","description":"The tile row coordinate.","required":true,"schema":{"type":"integer","format":"uint32"}},{"name":"format","in":"query","description":"The format of the returned tile.","schema":{"enum":["IMAGE_FORMAT_UNSPECIFIED","IMAGE_FORMAT_JPEG","IMAGE_FORMAT_PNG","IMAGE_FORMAT_JPEG_PNG"],"type":"string","format":"enum"}},{"name":"quality","in":"query","description":"The quality of the image based on compression/bandwidth requirements. A higher quality will result in a larger file size. \n Applies to the following image formats:\n - JPEG: Expressed as a percentage between 70 - 90. Defaults to 75.\n - JPEG_PNG: Expressed as a percentage between 70 - 90. Defaults to 75. Only applies if JPEG is used, does not apply to PNG.","schema":{"type":"integer","format":"uint32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{}}},"400":{"description":"The request is invalid, check for missing required properties."},"401":{"description":"The request is unauthorized: token is missing, expired or invalid."},"403":{"description":"Authentication is valid, however user does not have permission to view this tile."},"404":{"description":"The requested tile is not found for the given URN."},"429":{"description":"Too many requests in a given amount of time."}}}},"/imagery/v3/discovery/rank/location":{"post":{"tags":["Discovery","v3","latest"],"summary":"Fetch a ranked list of images for a location","description":"Accepts a location and returns a ranked list of oblique and/or ortho image(s) and their corresponding metadata.","operationId":"GetLocationImageryV3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLocationImageryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLocationImageryResponse"}}}},"400":{"description":"The request is invalid, check for missing required properties or invalid values."},"401":{"description":"The request is unauthorized: token is missing, expired or invalid."},"403":{"description":"Authentication is valid, however the user is not authorized to access this endpoint."},"429":{"description":"Too many requests in a given amount of time."}},"x-badges":[{"name":"Beta","position":"after","color":"blue"}]}}},"components":{"schemas":{"CaptureFilter":{"type":"object","properties":{"date":{"allOf":[{"$ref":"#/components/schemas/DateRange"}],"description":"Only consider captures within the specified date filter."},"next_capture_token":{"example":"dXJuOmVhZ2xldmlldy5jb206djE6c3BhdGlhbC1kYXRhOmNhcHR1cmU6Zml4ZWQtd2luZy1wZW50YTo5YzQ1NWE0Mi0xODVmLTQ4YWQtODEwNy00YTZhNzFlYzg1NDE","type":"string","description":"If your previous request returned a next_capture_token, use it here to paginate to the next batch of captures"}},"description":"Optionally specify filters to narrow the list of captures considered."},"CaptureFrom":{"type":"object","oneOf":[{"title":"Same Results","properties":{"same":{"$ref":"#/components/schemas/CaptureFrom_SameResults"}}},{"title":"Any Results","properties":{"any":{"$ref":"#/components/schemas/CaptureFrom_AnyResults"}}},{"title":"Any Until Complete","properties":{"any_until_complete":{"$ref":"#/components/schemas/CaptureFrom_AnyUntilComplete"}}}],"description":"Optionally specify where images will be sourced from."},"CaptureFrom_AnyResults":{"type":"object","properties":{"result_count":{"example":1,"type":"integer","description":"Number of captures to return. Useful in cases where historical imagery is required. The number of captures returned in a single response is limited, page to earlier captures using capture.filter.next_capture_token.","format":"uint32"}},"description":"A capture in the result will contain one or more (and possibly all) of the requested views."},"CaptureFrom_AnyUntilComplete":{"type":"object","properties":{},"description":"A capture in the result will contain one or more (and possibly all) of the requested views. Captures are returned until all requested views are provided."},"CaptureFrom_SameResults":{"type":"object","properties":{"result_count":{"example":1,"type":"integer","description":"Number of captures to return. Useful in cases where historical imagery is required. The number of captures returned in a single response is limited, page to earlier captures using capture.filter.next_capture_token.","format":"uint32"}},"description":"A capture in the result will contain all the requested views."},"CaptureRequest":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/CaptureFilter"},"from":{"$ref":"#/components/schemas/CaptureFrom"}},"description":"Optionally specify filters to narrow the list of captures considered."},"CaptureResponse":{"type":"object","properties":{"urn":{"example":"urn:eagleview.com:v1:spatial-data:capture:fixed-wing-penta:9c455a42-185f-48ad-8107-4a6a71ec8541","type":"string","description":"The Unique Reference Number (URN) of the capture. May be empty if we've had to group imagery by something like date range instead of by capture."},"start_date":{"example":"2024-05-29","type":"string","description":"The start date of the capture.","format":"date"},"end_date":{"example":"2024-05-31","type":"string","description":"The end date of the capture.","format":"date"}},"description":"Metadata about the capture."},"CardinalsRequest":{"type":"object","properties":{"north":{"type":"boolean","default":true,"description":"Return north-facing oblique images in the response."},"east":{"type":"boolean","default":true,"description":"Return east-facing oblique images in the response."},"south":{"type":"boolean","default":true,"description":"Return south-facing oblique images in the response."},"west":{"type":"boolean","default":true,"description":"Return west-facing oblique images in the response."}},"description":"Specify the cardinal directions (north, east, south, west) to be returned for the requested location."},"CenterPoint":{"type":"object","properties":{"point":{"allOf":[{"$ref":"#/components/schemas/GeometryData"}],"description":"The center point of the location."},"radius_in_meters":{"example":10,"type":"number","description":"Distance from the center.point in metres, up to 75.","format":"float"}},"description":"Center point includes a point and a radius."},"DateRange":{"type":"object","properties":{"since":{"example":"2024-01-31","type":"string","description":"Only consider since (and including) the specified date.","format":"date"},"until":{"example":"2024-06-01","type":"string","description":"Only consider until (and including) the specified date.","format":"date"}}},"GeometryData":{"type":"object","oneOf":[{"title":"GeoJSON","properties":{"geojson":{"$ref":"#/components/schemas/GeometryData_GeoJSON"}}},{"title":"Well Known Text","properties":{"wkt":{"$ref":"#/components/schemas/GeometryData_WellKnownText"}}},{"title":"Extended Well Known Text","properties":{"ewkt":{"$ref":"#/components/schemas/GeometryData_ExtendedWellKnownText"}}}]},"GeometryData_ExtendedWellKnownText":{"type":"object","properties":{"value":{"example":"SRID=4326;POLYGON((-95.98608 41.25056, -95.98608 41.2502, -95.98555 41.2502, -95.98555 41.25056, -95.98608 41.25056))","type":"string"}},"description":"The geometry encoded in extended WKT."},"GeometryData_GeoJSON":{"type":"object","properties":{"value":{"example":"{\"type\":\"Feature\",\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-95.98608,41.25056],[-95.98608,41.2502],[-95.98555,41.2502],[-95.98555,41.25056],[-95.98608,41.25056]]]},\"properties\":null}","type":"string"},"epsg":{"example":"EPSG:4326","type":"string","default":"EPSG:4326","description":"EPSG (European Petroleum Survey Group) code of the projected or geographic coordinate system."}},"description":"The geometry encoded in GeoJSON."},"GeometryData_WellKnownText":{"type":"object","properties":{"value":{"example":"POLYGON((-95.98608 41.25056, -95.98608 41.2502, -95.98555 41.2502, -95.98555 41.25056, -95.98608 41.25056))","type":"string"},"epsg":{"example":"EPSG:4326","type":"string","description":"EPSG (European Petroleum Survey Group) code of the projected or geographic coordinate system."}},"description":"The geometry encoded in WKT."},"GetLocationImageryRequest":{"type":"object","oneOf":[{"title":"Polygon","properties":{"polygon":{"$ref":"#/components/schemas/GeometryData"}},"description":"A polygon representing the location for which imagery is being requested."},{"title":"Center","properties":{"center":{"$ref":"#/components/schemas/CenterPoint"}},"description":"A center point and radius representing the location for which imagery is requested."}],"properties":{"view":{"$ref":"#/components/schemas/ViewRequest"},"capture":{"$ref":"#/components/schemas/CaptureRequest"},"response_props":{"$ref":"#/components/schemas/OptionalResponseProperties"}}},"GetLocationImageryResponse":{"type":"object","properties":{"captures":{"type":"array","items":{"$ref":"#/components/schemas/ViewResponse"},"description":"A list of one or more captures for the requested location."},"next_capture_token":{"type":"string","description":"A non-empty value indicates that more captures are available. Use in capture.filter.next_capture_token to paginate to the next batch of captures."}}},"Gsd":{"type":"object","properties":{"value":{"example":0.3,"type":"number","description":"The value in the units defined in the units property, e.g. meters.","format":"float"},"units":{"example":"UNITS_METERS","enum":["UNITS_UNSPECIFIED","UNITS_METERS"],"type":"string","format":"enum"}},"description":"The Ground Sample Distance (GSD)"},"ImageResources":{"type":"object","properties":{"tilebox":{"allOf":[{"$ref":"#/components/schemas/Tilebox"}],"description":"The tiles for this image that cover the requested location."},"estimated_requested_location":{"allOf":[{"$ref":"#/components/schemas/PixelCoords"}],"description":"An estimate of the requested location in image pixel coordinates. Note that top down (ortho) imagery follows the [Slippy Map Tilenames](https://wiki.openstreetmap.org/wiki/Slippy_map_tilenames) specification."}},"description":"Resources to access the image, currently via tiles."},"LookAt":{"type":"object","properties":{"estimated_camera_center":{"allOf":[{"$ref":"#/components/schemas/Point3D"}],"description":"Estimated camera center from which the image was taken."},"elevation":{"example":45,"type":"number","description":"Elevation angle in degrees. \n \n Camera angle up from nadir (directly down). A perfectly nadir shot is 0° elevation and elevation increases with obliqueness. 90° elevation is horizontal and 180° elevation is in the zenith direction.","format":"float"},"azimuth":{"example":45,"type":"number","description":"Azimuth angle in degrees.\n \n Camera bearing measured clockwise from North. A camera heading due North is 0° azimuth, due East is 90° azimuth, due South is 180° azimuth, due West is 270° azimuth.","format":"float"}},"description":"LookAt describes the direction the camera was looking at when the image was taken."},"ObliqueImage":{"type":"object","properties":{"urn":{"example":"urn:eagleview.com:v4:spatial-data:raster:visual:ated:XxhD74alOUeEI-mbjh00QA:123","type":"string","description":"The Unique Reference Number (URN) of the image."},"first_published_time":{"example":"2024-06-12T16:30:00Z","type":"string","description":"When the image was first published in RFC3339 (UTC).","format":"date-time"},"composite":{"example":false,"type":"boolean","description":"Indicates whether the image is a composite oblique image, which are created using multiple other images (i.e. multiple oblique frames stitched together)."},"shot_time":{"example":"2024-05-31T04:56:07Z","type":"string","description":"When the image was taken in RFC3339 (UTC). This field cannot be relied upon for composite images which are created from multiple source images taken at different times.","format":"date-time"},"resources":{"$ref":"#/components/schemas/ImageResources"},"calculated_gsd":{"allOf":[{"$ref":"#/components/schemas/Gsd"}],"description":"The calculated Ground Sample Distance (GSD) of the image."},"zoom_range":{"allOf":[{"$ref":"#/components/schemas/ZoomRange"}],"description":"The range of zoom levels available for the image (for tile requests)."},"ground_footprint":{"allOf":[{"$ref":"#/components/schemas/GeometryData"}],"description":"The ground footprint of the image."},"look_at":{"allOf":[{"$ref":"#/components/schemas/LookAt"}],"description":"Describes the direction the camera was looking at when the image was taken."}}},"ObliqueImages":{"type":"object","properties":{"images":{"type":"array","items":{"$ref":"#/components/schemas/ObliqueImage"},"description":"A list of one or more images for the requested location."}},"description":"A set of images matching the search criteria in priority order."},"ObliqueRequest":{"type":"object","properties":{"cardinals":{"$ref":"#/components/schemas/CardinalsRequest"},"composite_requirement":{"enum":["COMPOSITE_REQUIREMENT_EITHER","COMPOSITE_REQUIREMENT_COMPOSITE_ONLY","COMPOSITE_REQUIREMENT_SINGLE_ONLY"],"type":"string","default":"COMPOSITE_REQUIREMENT_EITHER","description":"Indicates whether to return composite oblique images, which are created using multiple other images (i.e. multiple oblique frames stitched together).","format":"enum"}},"description":"Specify if oblique views are to be returned for the requested location."},"ObliquesResponse":{"type":"object","properties":{"north":{"$ref":"#/components/schemas/ObliqueImages"},"east":{"$ref":"#/components/schemas/ObliqueImages"},"south":{"$ref":"#/components/schemas/ObliqueImages"},"west":{"$ref":"#/components/schemas/ObliqueImages"}},"description":"The cardinal direction views (north, east, south, west) for the requested location."},"OptionalResponseProperties":{"type":"object","properties":{"first_published_time":{"type":"boolean","description":"When the image was first published in RFC3339 (UTC)."},"composite":{"type":"boolean","description":"Indicates whether the image is a composite image, created using multiple other images (i.e. multiple image frames stitched together)."},"shot_time":{"type":"boolean","description":"When the image was taken in RFC3339 (UTC). This field cannot be relied upon for composite images which are created from multiple source images taken at different times."},"calculated_gsd":{"type":"boolean","description":"The calculated Ground Sample Distance (GSD) of the image."},"zoom_range":{"type":"boolean","description":"The range of zooms imagery is available for (for tile requests)."},"ground_footprint":{"type":"boolean","description":"The ground footprint of the image. Not currently returned for orthomosaic images."},"look_at":{"type":"boolean","description":"Describes the direction the camera was looking at when the image was taken."},"image_resources":{"allOf":[{"$ref":"#/components/schemas/OptionalResponseProperties_ImageResources"}],"description":"Specify various options for the image resources."}},"description":"The metadata properties to be returned in the response for each image."},"OptionalResponseProperties_ImageResources":{"type":"object","properties":{"tilebox":{"type":"boolean","description":"The tiles for this image that cover the requested location."},"estimated_requested_location":{"type":"boolean","description":"An estimate of the requested location (center if specified, otherwise polygon) in image pixel coordinates."}}},"OrthoImage":{"type":"object","properties":{"urn":{"example":"urn:eagleview.com:v4:spatial-data:raster:visual:ated:OnJxkctNuEyz6eC_gq1YNA:0","type":"string","description":"The Unique Reference Number (URN) of the image."},"first_published_time":{"example":"2024-06-12T16:30:00Z","type":"string","description":"When the image was first published in RFC3339 (UTC).","format":"date-time"},"composite":{"example":true,"type":"boolean","description":"Indicates whether the image is a composite ortho images, which are created using multiple other images (i.e. multiple ortho frames stitched together)."},"shot_time":{"example":"2024-05-30T02:20:00Z","type":"string","description":"When the image was taken in RFC3339 (UTC). This field cannot be relied upon for composite images which are created from multiple source images taken at different times.","format":"date-time"},"resources":{"$ref":"#/components/schemas/ImageResources"},"calculated_gsd":{"allOf":[{"$ref":"#/components/schemas/Gsd"}],"description":"The calculated Ground Sample Distance (GSD) of the image."},"zoom_range":{"allOf":[{"$ref":"#/components/schemas/ZoomRange"}],"description":"The range of zoom levels available for the image (for tile requests)."},"ground_footprint":{"allOf":[{"$ref":"#/components/schemas/GeometryData"}],"description":"The ground footprint of the image. Not currently returned for orthomosaic images."}}},"OrthoImages":{"type":"object","properties":{"images":{"type":"array","items":{"$ref":"#/components/schemas/OrthoImage"},"description":"A list of one or more images for the requested location."}},"description":"The top down views for the requested location."},"OrthoRequest":{"type":"object","properties":{"composite_requirement":{"enum":["COMPOSITE_REQUIREMENT_EITHER","COMPOSITE_REQUIREMENT_COMPOSITE_ONLY","COMPOSITE_REQUIREMENT_SINGLE_ONLY"],"type":"string","default":"COMPOSITE_REQUIREMENT_EITHER","description":"Indicates whether to return composite ortho images, which are created using multiple other images (i.e. multiple ortho frames stitched together).","format":"enum"}},"description":"Specify if top down ortho views are to be returned for the requested location."},"PixelCoord":{"type":"object","properties":{"x":{"example":128,"type":"string"},"y":{"example":64,"type":"string"}},"description":"Defines a pixel coordinate"},"PixelCoords":{"type":"object","properties":{"z":{"example":5,"type":"integer","description":"The tile zoom level at maximum zoom.","format":"uint32"},"coords":{"type":"array","items":{"$ref":"#/components/schemas/PixelCoord"},"description":"A list of pixel coordinates."}},"description":"Defines a set of pixel coordinates"},"Point3D":{"type":"object","properties":{"epsg":{"example":"EPSG:4978","type":"string","description":"EPSG (European Petroleum Survey Group) code of the projected or geographic coordinate system."},"x":{"example":999802.5482227888,"type":"number","description":"The x (column) coordinate.","format":"double"},"y":{"example":-4563323.118912942,"type":"number","description":"The y (row) coordinate.","format":"double"},"z":{"example":4332498.833323295,"type":"number","description":"The z (height) coordinate.","format":"double"}},"description":"A 3D point."},"Tilebox":{"type":"object","properties":{"z":{"example":5,"type":"integer","description":"The tile zoom level at maximum zoom.","format":"uint32"},"top":{"example":0,"type":"integer","description":"The y (row) coordinate for the top-most tile.","format":"uint32"},"bottom":{"example":1,"type":"integer","description":"The y (row) coordinate for the bottom-most tile.","format":"uint32"},"left":{"example":0,"type":"integer","description":"The x (column) coordinate for the left-most tile.","format":"uint32"},"right":{"example":3,"type":"integer","description":"The x (column) coordinate for the right-most tile.","format":"uint32"}},"description":"Tilebox describes an axis-aligned block of tiles.\n Ortho imagery follows the [Slippy Map Tilenames](https://wiki.openstreetmap.org/wiki/Slippy_map_tilenames) specification."},"ViewRequest":{"type":"object","properties":{"obliques":{"$ref":"#/components/schemas/ObliqueRequest"},"orthos":{"$ref":"#/components/schemas/OrthoRequest"},"max_gsd":{"allOf":[{"$ref":"#/components/schemas/Gsd"}],"description":"Provide a value to filter out images having a Ground Sample Distance (GSD) greater than max_gsd."},"max_images_per_view":{"type":"integer","default":1,"description":"The maximum number of images to be returned per view.","format":"uint32"}},"description":"Optionally specify the views to be returned for the requested location.\n NB. if nothing is specified, defaults to North, East, South, West obliques and a top down ortho."},"ViewResponse":{"type":"object","properties":{"capture":{"$ref":"#/components/schemas/CaptureResponse"},"obliques":{"$ref":"#/components/schemas/ObliquesResponse"},"orthos":{"$ref":"#/components/schemas/OrthoImages"}}},"ZoomRange":{"type":"object","properties":{"minimum_zoom_level":{"example":0,"type":"integer","description":"The minimum zoom level for which image data is available.","format":"uint32"},"maximum_zoom_level":{"example":5,"type":"integer","description":"The maximum zoom level for which image data is available.","format":"uint32"}},"description":"The range of zooms imagery is available for. For orthorectified imagery the zoom range will be slippy-map aligned."}}},"x-tagGroups":[{"name":"Imagery API","tags":["Discovery","Tiles","Images","Spatial"]}]}