{"openapi":"3.0.0","info":{"version":"0.0.1","title":"Property Data V2 API Documentation","description":"# Introduction\n\n## About\n\nEagleView's Property Data API provides data elements that characterize the composition and condition of a requested property. Data elements consist of measurements and classifiers that describe built structures and organic features on the property.</p><p>EagleView leverages machine learning and photogrammetric techniques to produce data elements.\n\n## Documentation Overview\nEach API endpoint in this documentation consists of:\n- **The HTTP method.** Currently includes `GET` and `POST`.\n- **The base path.** The base path is `https://sandbox.apis.eagleview.com` for the sandbox or `https://apis.eagleview.com` for production. This base path is specified before the endpoint path.\n- **The endpoint path.** For example, `/property/v2/request`.\n- **Required parameters.** These parameters must be included in a request. In the previous example, `address` is a required parameter.\n- **Optional parameters.** These parameters can be included in a request if desired.\n\n## Sandbox\nThe Property Data API can be tested in sandbox mode. The sandbox testing area is limited to the following bounding box, which covers approximately 1.5 square miles in Omaha, Nebraska:\n```text\n-96.00532698173473, 41.24140396772262, -95.97589954958912, 41.25672882015283\n```\nRefer to the [Property Data API User Guides](/user-guides/developer-guides/property-data-api) for a Postman collection which contains a number of sample requests.\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->"},"servers":[{"url":"https://apis.eagleview.com","description":"Basepath"}],"tags":[{"name":"PROPERTY DATA API"},{"name":"Image Retrieval"}],"paths":{"/property/v2/request":{"post":{"tags":["Request Property Data"],"security":[{"bearerAuth":[]}],"summary":"Request Property Data with Address or Coordinate","description":"Submit a property data request by providing an address or geographic coordinates. This endpoint starts an asynchronous process to generate property data using EagleView's models. You will receive a request ID and a 202 Accepted response. Use this ID to check the status or retrieve results with the GET /property/v2/result/{requestId} endpoint. Optionally, provide a callback URL to receive results automatically when ready.","operationId":"POST /property/v2/request","responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/get_attributes202_response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/model.Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/model.Error"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/model.Error"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/model.Error"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/model.Error"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/model.Error"}}}},"503":{"description":"Service Unavailable"}},"requestBody":{"$ref":"#/components/requestBodies/SynRequestBody"},"callbacks":{"Get job status Callback":{"{$requestBody.callbackUrl}":{"post":{"requestBody":{"description":"The callback is a POST request with the results json payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/single_line_address_response"}}}},"responses":{"200":{"description":"Your server implementation should return this HTTP status code if the data was received successfully"}}}}}}}},"/property/v2/result/{requestId}":{"get":{"tags":["Get Results"],"summary":"Get Results with Request ID","operationId":"GET /v2/attributes/request/{requestId}","security":[{"bearerAuth":[]}],"description":"Retrieve the status and results of a property data request using the request ID. If processing is complete, the entitled dataset is returned; otherwise, the current status is provided.","parameters":[{"name":"requestId","in":"path","description":"ID is a unique identifier for the request in the form of a UUID4 string","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Ok","content":{"application/json":{"schema":{"$ref":"#/components/schemas/single_line_address_response"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/get_attributes202_status_response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/model.Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/model.Error"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/model.Error"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/model.Error"}}}},"503":{"description":"Service Unavailable"}}}},"/property/v2/image/{imageToken}":{"get":{"tags":["Image Retrieval"],"summary":"Get Image by ID","operationId":"GET /property/v2/image/{imageToken}","security":[{"bearerAuth":[]}],"description":"Download a property image by its unique image ID using GET /property/v2/image/{imageToken}. Images are returned in PNG format. For ortho (top-down) images, you can choose to receive either masked or unmasked image. Some images may be unavailable due to age or access restrictions.","parameters":[{"name":"imageToken","in":"path","description":"Unique identifier for the image to retrieve","required":true,"schema":{"type":"string"},"example":"12e30430-41e6-4314-8ecd-000370006270"}],"responses":{"200":{"description":"Image retrieved successfully","content":{"image/png":{"schema":{"type":"string","format":"binary"}}}},"401":{"description":"Unauthorized - Failed to get organization ID from token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/model.Error"},"example":{"errorCode":10620,"errorDescription":"Failed to get org ID from token"}}}},"403":{"description":"Forbidden - Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/model.Error"}}}},"404":{"description":"Not Found - Image not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/model.Error"},"example":{"errorCode":10637,"errorDescription":"Image not found"}}}},"410":{"description":"Gone - Image too old","content":{"application/json":{"schema":{"$ref":"#/components/schemas/model.Error"},"example":{"errorCode":10638,"errorDescription":"Image too old"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/model.Error"}}}},"503":{"description":"Service Unavailable"}}}}},"components":{"requestBodies":{"SynRequestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/SingleLineAddressRequest"},{"$ref":"#/components/schemas/MultiLineAddressRequest"},{"$ref":"#/components/schemas/LatLonRequest"}]},"examples":{"case1":{"summary":"SingleLine Address Request Body","value":{"address":{"completeAddress":"694 East 6th Street, Sheridan, Wyoming 82801, United States"},"callbackUrl":"https://www.dummycallbackurl.com"}},"case2":{"summary":"Multiline Address Request Body","value":{"address":{"street":"3324 W TUCKER RD","city":"BOISE","state":"ID","zip":"83703","country":"US"},"callbackUrl":"https://www.dummycallbackurl.com"}},"case3":{"summary":"Lat Lon Request Body","value":{"coordinates":{"lat":44.80751310109059,"lon":-106.94414976548534},"callbackUrl":"https://www.dummycallbackurl.com"}}}}},"description":""}},"schemas":{"SingleLineAddressRequest":{"required":["address"],"properties":{"address":{"required":["completeAddress"],"properties":{"completeAddress":{"type":"string","example":"10900 NE 4th St Suite 800, Bellevue, WA 98004, United States"}}},"callbackUrl":{"type":"string","example":"https://www.dummycallbackurl.com"}}},"MultiLineAddressRequest":{"required":["address"],"properties":{"address":{"$ref":"#/components/schemas/MultiLineAddress"},"callbackUrl":{"type":"string","example":"https://www.dummycallbackurl.com"}}},"LatLonRequest":{"required":["coordinates"],"properties":{"coordinates":{"required":["lat","lon"],"properties":{"lat":{"type":"number","example":33.582042},"lon":{"type":"number","example":-84.14637}}},"callbackUrl":{"type":"string","example":"https://www.dummycallbackurl.com"}}},"MultiLineAddress":{"required":["street","city","state","zip","country"],"properties":{"street":{"type":"string","example":"10900 NE 4th St Suite 800"},"city":{"type":"string","example":"Bellevue"},"state":{"type":"string","example":"WA"},"zip":{"type":"string","example":"98004"},"country":{"type":"string","example":"US"}}},"single_line_address_response":{"type":"object","properties":{"input":{"$ref":"#/components/schemas/single_line_address_input"},"request":{"$ref":"#/components/schemas/request"},"response_coordinates":{"$ref":"#/components/schemas/response_coordinates"},"response_address":{"$ref":"#/components/schemas/response_address"},"property_images":{"type":"object","description":"Collection of property images","$ref":"#/components/schemas/property_images"},"imagery":{"$ref":"#/components/schemas/imagery"},"property_roof_condition_rating_minimum":{"$ref":"#/components/schemas/property_roof_condition_rating_minimum"},"property_roof_condition_rating_average":{"$ref":"#/components/schemas/property_roof_condition_rating_average"},"structures":{"type":"array","items":{"$ref":"#/components/schemas/structure"}},"pool":{"type":"object","properties":{"property_pool_enclosure_presence":{"$ref":"#/components/schemas/property_pool_enclosure_presence"},"property_pool_presence":{"$ref":"#/components/schemas/property_pool_presence"},"property_pool_condition_rating":{"$ref":"#/components/schemas/property_pool_condition_rating"},"property_pool_occlusion_classification":{"$ref":"#/components/schemas/property_pool_occlusion_classification"},"property_pool_structure_type":{"$ref":"#/components/schemas/property_pool_structure_type"},"property_pool_slide_presence":{"$ref":"#/components/schemas/property_pool_slide_presence"}}},"property_wildfire_vulnerability_rating":{"$ref":"#/components/schemas/property_wildfire_vulnerability_rating"},"property_hvac_unit_count":{"$ref":"#/components/schemas/property_hvac_unit_count"},"property_debris":{"$ref":"#/components/schemas/property_debris"},"parking_lot":{"$ref":"#/components/schemas/parking_lot"},"property_driveway_condition_rating":{"$ref":"#/components/schemas/property_driveway_condition_rating"},"property_lawn_condition_rating":{"$ref":"#/components/schemas/property_lawn_condition_rating"},"property_fence_presence":{"$ref":"#/components/schemas/property_fence_presence"},"property_fence_material_combustibility":{"$ref":"#/components/schemas/property_fence_material_combustibility"},"trampoline":{"type":"object","properties":{"property_trampoline_presence":{"$ref":"#/components/schemas/property_trampoline_presence"}}},"property_yard_debris":{"$ref":"#/components/schemas/property_yard_debris"},"info":{"$ref":"#/components/schemas/info"}}},"get_attributes202_response":{"type":"object","properties":{"request":{"type":"object","properties":{"href":{"type":"string","example":"/property/v2/result/5decd115-771d-4fcc-9d13-0e357a1cacb3"},"id":{"type":"string","example":"5decd115-771d-4fcc-9d13-0e357a1cacb3"},"status":{"type":"string","example":"In Progress"}}}}},"get_attributes202_status_response":{"type":"object","properties":{"id":{"type":"string","example":"5decd115-771d-4fcc-9d13-0e357a1cacb3","description":"System-generated request_id that uniquely identifies the POST request"},"status":{"type":"string","example":"In Progress","description":"Processing state of the request. Possible values: 'In Progress', 'Complete', 'Failure'"}}},"call_back_response":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string"}}},"request":{"type":"object","properties":{"id":{"type":"string","example":"5decd115-771d-4fcc-9d13-0e357a1cacb3","description":"System-generated request_id that uniquely identifies the POST request"},"status":{"type":"string","example":"Complete","description":"Processing state of the request. Possible values: 'In Progress', 'Complete', 'Failure'"}}},"response_coordinates":{"type":"object","properties":{"lat":{"type":"number","example":47.617746,"description":"latitude geo-coordinate of the property in EPSG:4326 format, which is EGS sanitized"},"lon":{"type":"number","example":-122.195759,"description":"longitude geo-coordinate of the property in EPSG:4326 format, which is EGS sanitized"}}},"response_address":{"type":"object","properties":{"full_address":{"type":"string","example":"10800 NE 8th St, Bellevue, WA 98004, US","description":"The full text address of the property.  Address string is standardized through geocoding/reverse-geocoding."},"line1":{"type":"string","example":"10800 NE 8th St","description":"The street address of the property.  Address string is standardized through geocoding/reverse-geocoding."},"locality":{"type":"string","example":"Bellevue","description":"The city of the property.  Address string is standardized through geocoding/reverse-geocoding."},"admin1":{"type":"string","example":"WA","description":"The state of the property.  Address string is standardized through geocoding/reverse-geocoding."},"zip":{"type":"string","example":"98004","description":"The zip code of the property.  Address string is standardized through geocoding/reverse-geocoding."},"country":{"type":"string","example":"US","description":"The country code of the property.  Address string is standardized through geocoding/reverse-geocoding."}}},"single_line_address_input":{"type":"object","properties":{"address":{"properties":{"completeAddress":{"type":"string","example":"10800 NE 8th St, Bellevue, WA 98004, US","description":"The address string used as input for the query."}}}}},"property_roof_condition_rating_minimum":{"type":"object","properties":{"value":{"type":"string","example":"fair","description":"Minimum roof condition rating of all structures on the property, excluding structures with unknown condition."},"unit":{"type":"string","example":"rating","description":"Unit of measure for property roof condition."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for property roof condition."}}},"property_roof_condition_rating_average":{"type":"object","properties":{"value":{"type":"string","example":"compromised","description":"Average roof condition rating of all structures on the property, excluding structures with unknown condition."},"unit":{"type":"string","example":"rating","description":"Unit of measure for property roof condition."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for property roof condition."}}},"structure":{"type":"object","properties":{"roof":{"$ref":"#/components/schemas/roof"},"structure_eave_height":{"$ref":"#/components/schemas/structure_eave_height"},"structure_geometry":{"$ref":"#/components/schemas/structure_geometry"},"structure_centroid":{"$ref":"#/components/schemas/structure_centroid"},"structure_images":{"$ref":"#/components/schemas/structure_images"},"vegetation_coverage_zones":{"$ref":"#/components/schemas/vegetation_coverage_zones"},"structure_wildfire_vulnerability_rating":{"$ref":"#/components/schemas/structure_wildfire_vulnerability_rating"},"structure_density_zones":{"$ref":"#/components/schemas/structure_density_zones"},"structure_count_zones":{"$ref":"#/components/schemas/structure_count_zones"},"structure_setback":{"$ref":"#/components/schemas/structure_setback"},"structure_wood_deck_presence":{"$ref":"#/components/schemas/structure_wood_deck_presence"},"structure_chimney_presence":{"$ref":"#/components/schemas/structure_chimney_presence"},"structure_hail_vulnerability_rating":{"$ref":"#/components/schemas/structure_hail_vulnerability_rating"},"structure_hail_loss_severity_rating":{"$ref":"#/components/schemas/structure_hail_loss_severity_rating"},"structure_wildfire_mitigation_rating":{"$ref":"#/components/schemas/structure_wildfire_mitigation_rating"},"structure_footprint_sqft":{"$ref":"#/components/schemas/structure_footprint_sqft"},"structure_vegetation_setback":{"type":"object","properties":{"vegetation_setback":{"$ref":"#/components/schemas/vegetation_setback"},"image_references":{"$ref":"#/components/schemas/image_references"}}}}},"structure_eave_height":{"type":"object","properties":{"value":{"type":"object","properties":{"E":{"type":"number","example":12,"description":"Eave height measured on the east side of the structure."},"N":{"type":"number","example":12,"description":"Eave height measured on the north side of the structure."},"S":{"type":"number","example":20,"description":"Eave height measured on the south side of the structure."},"W":{"type":"number","example":16,"description":"Eave height measured on the west side of the structure."}}},"unit":{"type":"string","example":"feet","description":"Unit of measure for eave height values."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for eave height calculation."}}},"structure_geometry":{"type":"object","properties":{"coordinates":{"type":"array","items":{"type":"array","items":{"type":"number","description":"List of latitude/longitude pairs that draw the building outline."}},"example":[[[-88.13181163728814,34.774261797655456],[-88.13180417796616,34.77424318933825],[-88.1317917457624,34.774249543398355],[-88.13181163728814,34.774261797655456]]],"description":"Geojson formatted building outline."},"type":{"type":"string","example":"Polygon","description":"Geometry type for structure outline"}}},"roof":{"type":"object","properties":{"structure_roof_predominant_pitch":{"$ref":"#/components/schemas/structure_roof_predominant_pitch"},"structure_roof_shape":{"$ref":"#/components/schemas/structure_roof_shape"},"structure_roof_material_primary":{"$ref":"#/components/schemas/structure_roof_material_primary"},"structure_tree_overhang_classification":{"$ref":"#/components/schemas/structure_tree_overhang_classification"},"structure_roof_condition_elements":{"$ref":"#/components/schemas/structure_roof_condition_elements"},"structure_roof_area":{"$ref":"#/components/schemas/structure_roof_area"},"structure_roof_area_squares":{"$ref":"#/components/schemas/structure_roof_area_squares"},"structure_roof_condition_rating":{"$ref":"#/components/schemas/structure_roof_condition_rating"},"structure_roof_occlusion_classification":{"$ref":"#/components/schemas/structure_roof_occlusion_classification"},"structure_roof_solar_panel_presence":{"$ref":"#/components/schemas/structure_roof_solar_panel_presence"},"structure_roof_extension":{"$ref":"#/components/schemas/structure_roof_extension"},"structure_roof_facet_count":{"$ref":"#/components/schemas/structure_roof_facet_count"},"structure_roof_facets":{"$ref":"#/components/schemas/structure_roof_facets"},"structure_roof_materials":{"$ref":"#/components/schemas/structure_roof_materials"},"structure_roof_air_conditioner_count":{"$ref":"#/components/schemas/structure_roof_air_conditioner_count"},"structure_roof_evaporative_cooler_count":{"$ref":"#/components/schemas/structure_roof_evaporative_cooler_count"},"structure_roof_age":{"$ref":"#/components/schemas/structure_roof_age"}}},"structure_roof_predominant_pitch":{"type":"object","properties":{"value":{"type":"number","example":5,"description":"Primary roof pitch (expressed as a ratio over 12), determined by the largest roof area."},"unit":{"type":"string","example":"over 12","description":"Unit of measure for predominant pitch."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for predominant pitch."}}},"structure_roof_shape":{"type":"object","properties":{"value":{"type":"string","example":"mixed","description":"Roof shape classifier for a given roof structure."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for roof shape."},"confidence":{"type":"number","example":0.987654,"description":"Confidence value (0-1) for roof shape."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_roof_material_primary":{"type":"object","properties":{"value":{"type":"string","example":"shingle","description":"Primary roof material classifier for a given roof structure."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for roof material."},"confidence":{"type":"number","example":0.987654,"description":"Confidence value (0-1) for roof material."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_tree_overhang_classification":{"type":"object","properties":{"value":{"type":"string","example":"no_tree_overhang","description":"Degree to which one or more trees overhang the roof."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for tree overhang."},"confidence":{"type":"number","example":0.824,"description":"Confidence value (0-1) for tree overhang."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_roof_area":{"type":"object","properties":{"value":{"type":"number","example":1234.56,"description":"3D roof area (in sq ft)."},"unit":{"type":"string","example":"square feet","description":"Unit of measure for roof area."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for roof area."}}},"structure_roof_area_squares":{"type":"object","properties":{"value":{"type":"number","example":12,"description":"3D roof area (in 100s sq ft)."},"unit":{"type":"string","example":"count","description":"Unit of measure for roof area."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for roof area."}}},"structure_roof_condition_rating":{"type":"object","properties":{"value":{"type":"string","example":"fair","description":"Assessment of the roof's exterior condition. Five point ordinal scale."},"unit":{"type":"string","example":"rating","description":"Unit of measure for roof condition rating."},"reasons":{"type":"array","items":{"type":"string","example":"roof_streaking"},"example":["roof_streaking","roof_discoloration"],"description":"Ranked list of reasons contributing to the roof's condition rating."},"confidence":{"type":"number","example":0.53,"description":"Confidence value (0-1) for roof condition rating."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_roof_condition_elements":{"type":"object","properties":{"structure_roof_loose_organic_matter":{"$ref":"#/components/schemas/structure_roof_loose_organic_matter"},"structure_roof_material_degradation":{"$ref":"#/components/schemas/structure_roof_material_degradation"},"structure_roof_material_degradation_reason":{"$ref":"#/components/schemas/structure_roof_material_degradation_reason"},"structure_roof_natural_discoloration":{"$ref":"#/components/schemas/structure_roof_natural_discoloration"},"structure_roof_patching":{"$ref":"#/components/schemas/structure_roof_patching"},"structure_roof_ponding":{"$ref":"#/components/schemas/structure_roof_ponding"},"structure_roof_tarp":{"$ref":"#/components/schemas/structure_roof_tarp"},"structure_roof_streaking":{"$ref":"#/components/schemas/structure_roof_streaking"},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_roof_loose_organic_matter":{"type":"object","properties":{"value":{"type":"string","example":"no","description":"Indicator identifying the presence of loose organic matter on the roof, generally from leaves or pine needles."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for loose organic material."},"confidence":{"type":"number","example":0.9992,"description":"Confidence value (0-1) for loose organic material."}}},"structure_roof_material_degradation":{"type":"object","properties":{"value":{"type":"string","example":"no_roof_material_degradation","description":"Degree to which the roof covering material appears to be in a degraded state. Three-point ordinal scale."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for material degradation."},"confidence":{"type":"number","example":0.9778,"description":"Confidence value (0-1) for material degradation."}}},"structure_roof_material_degradation_reason":{"type":"object","properties":{"value":{"type":"string","example":"no_defects","description":"Primary reasons for roof material degradation classification."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for material degradation reasons."},"confidence":{"type":"number","example":0.9761,"description":"Confidence value (0-1) for material degradation reasons."}}},"structure_roof_natural_discoloration":{"type":"object","properties":{"value":{"type":"number","example":"roof_discoloration_major","description":"Degree to which the roof exhibits visible signs of natural discoloration, due to natural effects such as dirt accumulation or black algae buildup. Three point ordinal scale."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for discoloration."},"confidence":{"type":"number","example":0.7186,"description":"Confidence value (0-1) for discoloration."}}},"structure_roof_patching":{"type":"object","properties":{"value":{"type":"string","example":"no","description":"Indicator identifying the presence of patching on the roof."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for roof patching."},"confidence":{"type":"number","example":0.9922,"description":"Confidence value (0-1) for roof patching."}}},"structure_roof_ponding":{"type":"object","properties":{"value":{"type":"string","example":"no","description":"Indicator identifying the presence of ponding on the roof."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for roof ponding."},"confidence":{"type":"number","example":0.9995,"description":"Confidence value (0-1) for roof ponding."}}},"structure_roof_tarp":{"type":"object","properties":{"value":{"type":"string","example":"no","description":"Indicator identifying the presence of a tarp on the roof."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for roof tarp."},"confidence":{"type":"number","example":0.9984,"description":"Confidence value (0-1) for roof tarp."}}},"structure_roof_streaking":{"type":"object","properties":{"value":{"type":"string","example":"roof_streaking_major","description":"Indicator identifying the presence of a streaking on the roof."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for roof streaking."},"confidence":{"type":"number","example":0.987654,"description":"Confidence value (0-1) for roof streaking."}}},"info":{"description":"Metadata pertaining to the response payload when API is unable to deliver data. Possible values are - 'No data found', 'Invalid address', 'No building detected', 'Parcel geometry unavailable', 'ML model error' and 'No suitable imagery found'","type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}}},"model.Error":{"type":"object","properties":{"errorCode":{"type":"integer","description":"Machine-readable code that identifies the type of error."},"errorDescription":{"type":"string","description":"Human-readable message that describes the error condition."}}},"property_wildfire_vulnerability_rating":{"type":"object","properties":{"value":{"type":"number","example":1,"description":"Wildfire vulnerability rating of the property."},"unit":{"type":"string","example":"rating","description":"Unit of measure for wildfire vulnerability rating."},"confidence":{"type":"number","example":0.53,"description":"Confidence value (0-1) for wildfire vulnerability rating."}}},"property_hvac_unit_count":{"type":"object","properties":{"value":{"type":"number","example":1,"description":"Number of HVAC units on the property."},"unit":{"type":"string","example":"count","description":"Unit of measure for HVAC unit count."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for HVAC unit count estimation."}}},"structure_centroid":{"type":"object","properties":{"lat":{"type":"number","example":47.617746,"description":"latitude geo-coordinate of the structure centroid in EPSG:4326 format."},"lon":{"type":"number","example":-122.195759,"description":"longitude geo-coordinate of the structure centroid in EPSG:4326 format."}}},"vegetation_coverage_zone_1":{"type":"object","properties":{"value":{"type":"number","example":0.67,"description":"Vegetation coverage ratio around 0-5 feet (zone1) of the primary structure (centroid)."},"unit":{"type":"string","example":"ratio","description":"Unit of measure for vegetation coverage zone."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for vegetation coverage zone."}}},"vegetation_coverage_zone_2":{"type":"object","properties":{"value":{"type":"number","example":0.67,"description":"Vegetation coverage ratio around 5-30 feet (zone2) of the primary structure (centroid)."},"unit":{"type":"string","example":"ratio","description":"Unit of measure for vegetation coverage zone."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for vegetation coverage zone."}}},"vegetation_coverage_zone_3":{"type":"object","properties":{"value":{"type":"number","example":0.67,"description":"Vegetation coverage ratio around 30-100 feet (zone3) of the primary structure (centroid)."},"unit":{"type":"string","example":"ratio","description":"Unit of measure for vegetation coverage zone."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for vegetation coverage zone."}}},"vegetation_coverage_zones":{"type":"object","properties":{"vegetation_coverage_zone_1":{"$ref":"#/components/schemas/vegetation_coverage_zone_1"},"vegetation_coverage_zone_2":{"$ref":"#/components/schemas/vegetation_coverage_zone_2"},"vegetation_coverage_zone_3":{"$ref":"#/components/schemas/vegetation_coverage_zone_3"},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_wildfire_vulnerability_rating":{"type":"object","properties":{"value":{"type":"number","example":1,"description":"Wildfire vulnerability rating of the structure."},"unit":{"type":"string","example":"rating","description":"Unit of measure for wildfire vulnerability rating."},"confidence":{"type":"number","example":0.53,"description":"Confidence value (0-1) for wildfire vulnerability rating."},"reasons":{"type":"array","description":"Reasons for wildfire vulnerability rating.","items":{"type":"string","example":"structure_density_zone_2"}},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_density_zone_1":{"type":"object","properties":{"value":{"type":"number","example":0.27,"description":"Density of any raised structure around 0-100 feet (zone1) of the primary structure (centroid)."},"unit":{"type":"string","example":"ratio","description":"Unit of measure for structure density of zone1"},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for structure density of zone1"}}},"structure_density_zone_2":{"type":"object","properties":{"value":{"type":"number","example":0.27,"description":"Density of any raised structure around 100-500 feet (zone2) of the primary structure (centroid)."},"unit":{"type":"string","example":"ratio","description":"Unit of measure for structure density of zone2"},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for structure density of zone2"}}},"structure_density_zones":{"type":"object","properties":{"structure_density_zone_1":{"$ref":"#/components/schemas/structure_density_zone_1"},"structure_density_zone_2":{"$ref":"#/components/schemas/structure_density_zone_2"},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_count_zone_1":{"type":"object","properties":{"value":{"type":"number","example":3,"description":"Count of structures across 0-100 feet (zone1) of the primary structure (centroid)."},"unit":{"type":"string","example":"structures","description":"Unit of measure for structure count for zone1"},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for structure count for zone1"},"image_references":{"type":"array","items":{"type":"string"},"example":["image_9"]}}},"structure_count_zone_2":{"type":"object","properties":{"value":{"type":"number","example":3,"description":"Count of structures across 100-500 feet (zone2) of the primary structure (centroid)"},"unit":{"type":"string","example":"structures","description":"Unit of measure for structure count for zone2"},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for structure count for zone2"},"image_references":{"type":"array","items":{"type":"string"},"example":["image_9"]}}},"structure_count_zones":{"type":"object","properties":{"structure_count_zone_1":{"$ref":"#/components/schemas/structure_count_zone_1"},"structure_count_zone_2":{"$ref":"#/components/schemas/structure_count_zone_2"},"image_references":{"$ref":"#/components/schemas/image_references"}}},"property_debris_area":{"type":"object","properties":{"value":{"type":"number","example":0,"description":"Debris area of the property."},"unit":{"type":"string","example":"square feet","description":"Unit of measure for debris area."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for debris area."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"property_debris_coverage":{"type":"object","properties":{"value":{"type":"number","example":0,"description":"Debris coverage of the property."},"unit":{"type":"string","example":"ratio","description":"Unit of measure for debris coverage."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for debris coverage."}}},"property_debris":{"type":"object","properties":{"area":{"$ref":"#/components/schemas/property_debris_area"},"coverage":{"$ref":"#/components/schemas/property_debris_coverage"},"image_references":{"$ref":"#/components/schemas/image_references"}}},"paved_area":{"type":"object","properties":{"value":{"type":"integer","example":0,"description":"Paved area of the property."},"unit":{"type":"string","example":"square feet","description":"Unit of measure for paved area."},"confidence":{"type":"integer","example":-1,"description":"Confidence value (0-1) for paved area."}}},"paved_area_deterioration":{"type":"object","properties":{"value":{"type":"number","format":"float","example":0,"description":"Paved area deterioration of the property."},"unit":{"type":"string","example":"ratio","description":"Unit of measure for paved area deterioration."},"confidence":{"type":"integer","example":-1,"description":"Confidence value (0-1) for paved area deterioration."}}},"paved_area_illumination":{"type":"object","properties":{"value":{"type":"number","format":"float","example":0,"description":"Paved area illumination of the property."},"unit":{"type":"string","example":"ratio","description":"Unit of measure for paved area illumination."},"confidence":{"type":"integer","example":-1,"description":"Confidence value (0-1) for paved area illumination."}}},"parking_lot":{"type":"object","properties":{"paved_area":{"$ref":"#/components/schemas/paved_area"},"paved_area_deterioration":{"$ref":"#/components/schemas/paved_area_deterioration"},"paved_area_illumination":{"$ref":"#/components/schemas/paved_area_illumination"},"image_references":{"$ref":"#/components/schemas/image_references"}}},"property_driveway_condition_rating":{"type":"object","properties":{"value":{"type":"string","example":"fair","description":"Driveway condition rating of the property."},"unit":{"type":"string","example":"rating","description":"Unit of measure for driveway condition rating."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for driveway condition rating."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"property_lawn_condition_rating":{"type":"object","properties":{"value":{"type":"string","example":"fair","description":"Lawn condition rating of the property."},"unit":{"type":"string","example":"rating","description":"Unit of measure for lawn condition rating."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for lawn condition rating."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"property_fence_presence":{"type":"object","properties":{"value":{"type":"string","example":"no","description":"Indicator identifying the presence of a fence on the property."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for fence presence."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for fence presence."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"property_fence_material_combustibility":{"type":"object","properties":{"value":{"type":"string","example":"combustible","description":"Material type of the fence detected on the property."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for fence material combustibility."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for fence material combustibility."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"property_pool_enclosure_presence":{"type":"object","properties":{"value":{"type":"string","example":"no","description":"Indicator identifying the presence of a screen or glass enclosure"},"unit":{"type":"string","example":"classifier","description":"Unit of measure for pool enclosure presence."},"confidence":{"type":"number","example":0.9597,"description":"Confidence value (0-1) for pool enclosure presence."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"property_pool_presence":{"type":"object","properties":{"value":{"type":"string","example":"no","description":"Indicator identifying the presence of a pool on the property."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for pool presence."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for pool presence."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"property_pool_condition_rating":{"type":"object","properties":{"value":{"type":"string","example":"compromised","description":"Assessment of pool condition on the property. Five point ordinal scale."},"unit":{"type":"string","example":"rating","description":"Unit of measure for pool condition rating."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for pool condition rating."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"property_pool_occlusion_classification":{"type":"object","properties":{"value":{"type":"string","example":"pool_occlusion_minor","description":"Extent to which the pool is visually obscured due to a pool cover or other occlusion. Three-point ordinal scale."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for pool occlusion classification."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for pool occlusion classification."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"property_pool_structure_type":{"type":"object","properties":{"value":{"type":"string","example":"in_ground_pool","description":"Pool structure type of the property."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for pool structure type."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for pool structure type."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"property_pool_slide_presence":{"type":"object","properties":{"value":{"type":"string","example":"no_pool_slide","description":"Indicator identifying the presence of a pool slide on the property."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for pool slide presence."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for pool slide presence."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"property_trampoline_presence":{"type":"object","properties":{"value":{"type":"string","example":"no","description":"Indicator identifying the presence of a trampoline on the property."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for trampoline presence."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for trampoline presence."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"property_yard_area":{"type":"object","properties":{"value":{"type":"number","example":0,"description":"Debris area of the property."},"unit":{"type":"string","example":"percent","description":"Unit of measure for debris area."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for debris area."}}},"property_yard_coverage":{"type":"object","properties":{"value":{"type":"number","example":0,"description":"Debris coverage of the property."},"unit":{"type":"string","example":"square feet","description":"Unit of measure for debris coverage."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for debris coverage."}}},"property_yard_debris":{"type":"object","properties":{"area":{"$ref":"#/components/schemas/property_yard_area"},"coverage":{"$ref":"#/components/schemas/property_yard_coverage"},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_roof_occlusion_classification":{"type":"object","properties":{"value":{"type":"string","example":"roof_occlusion_moderate","description":"Roof occlusion classification of the structure."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for roof occlusion classification."},"confidence":{"type":"number","example":0.9544,"description":"Confidence value (0-1) for roof occlusion classification."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_roof_solar_panel_presence":{"type":"object","properties":{"value":{"type":"string","example":"no","description":"Indicator identifying the presence of solar panels on the roof."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for solar panel presence."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for solar panel presence."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_roof_extension":{"type":"object","properties":{"value":{"type":"string","example":"with_solar_panel","description":"Presence of a flat addition to the roof, commonly metal or membrane."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for roof extension."},"confidence":{"type":"number","example":0.7879,"description":"Confidence value (0-1) for roof extension."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_setback":{"type":"object","properties":{"value":{"type":"number","example":10,"description":"Distance between the primary structure on the parcel and the nearest structure on a neighbouring parcel"},"unit":{"type":"string","example":"feet","description":"Unit of measure for structure setback"},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for structure setback"},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_roof_facet_count":{"type":"object","properties":{"value":{"type":"number","example":8,"description":"Number of roof facets."},"unit":{"type":"string","example":"count","description":"Unit of measure for roof facet count."},"confidence":{"type":"number","example":0.3385,"description":"Confidence value (0-1) for roof facet count estimation."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_roof_facets":{"type":"array","items":{"type":"object","properties":{"geometry":{"type":"object","properties":{"coordinates":{"type":"array","items":{"type":"array","items":{"type":"number"}},"description":"Geojson formatted roof facet outline coordinates.","example":[[[-95.12708721428572,29.70662499356223],[-95.12710034693878,29.70663372746781],[-95.12718789795919,29.706632854077252],[-95.12723792711371,29.706585690987122],[-95.12712348542274,29.70658743776824],[-95.12708721428572,29.70662499356223]]]},"type":{"type":"string","example":"Polygon","description":"Geometry type for roof facet."}}},"area":{"type":"object","properties":{"value":{"type":"number","example":588.1220282847835,"description":"Area of the roof facet."},"unit":{"type":"string","example":"square feet","description":"Unit of measure for roof facet area."},"confidence":{"type":"number","example":0.95,"description":"Confidence value (0-1) for roof facet area."}}},"roof_material_primary":{"type":"object","properties":{"value":{"type":"string","example":"shingle","description":"Primary roof material for this facet."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for roof material."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for roof material classification."}}}}},"description":"Array of individual roof facets with geometry, area, and material information."},"structure_roof_materials":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","example":"shingle","description":"Primary roof material classifier for the given roof facet"},"unit":{"type":"string","example":"classifier","description":"Unit of measure for roof material."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for roof material classification."},"area":{"type":"object","properties":{"value":{"type":"number","example":2580.807999744193,"description":"Area covered by the given roof material"},"unit":{"type":"string","example":"square feet","description":"Unit of measure for roof material area."},"confidence":{"type":"number","example":0.95,"description":"Confidence value (0-1) for roof material area measurement."}}},"geometry":{"type":"object","properties":{"coordinates":{"type":"array","items":{"type":"array","items":{"type":"number"}},"description":"Geojson formatted roof material outline coordinates.","example":[[[-97.83627109433962,30.00789387888707],[-97.83623114922814,30.007931734860886],[-97.83620971526587,30.007915751227497],[-97.83606162607205,30.007788723404257],[-97.83608496299641,30.00776605409596],[-97.83608013722127,30.00776264484452],[-97.8360898799314,30.007754232405894],[-97.83609962264151,30.007747502454993],[-97.83611131389365,30.007756756137482],[-97.83611910806175,30.007751708674306],[-97.83615223327617,30.007722265139115],[-97.83629155403088,30.007842563011458],[-97.8362527831308,30.007877235736668],[-97.83627109433962,30.00789387888707]]]},"type":{"type":"string","example":"Polygon","description":"Geometry type for roof material outline"}}},"image_references":{"$ref":"#/components/schemas/image_references"}}},"description":"Array of individual roof materials with geometry and area information."},"structure_wood_deck_presence":{"type":"object","properties":{"value":{"type":"string","example":"no","description":"Indicator identifying the presence of a plank deck attached to the structure."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for plank deck presence."},"confidence":{"type":"number","example":0.9403,"description":"Confidence value (0-1) for plank deck presence."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_chimney_presence":{"type":"object","properties":{"value":{"type":"string","example":"no","description":"Indicator identifying the presence of a chimney on the structure."},"unit":{"type":"string","example":"classifier","description":"Unit of measure for chimney presence."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for chimney presence."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_hail_vulnerability_rating":{"type":"object","properties":{"value":{"type":"number","example":5,"description":"Assessment of roof damage due to a hail event. Five point ordinal scale."},"unit":{"type":"string","example":"rating","description":"Unit of measure for hail vulnerability rating."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for hail vulnerability rating."},"reasons":{"type":"array","items":{"type":"string"},"example":["roof_covering","tree_overhang","roof_condition_rating"],"description":"Ranked list of the factors negatively impacting the hail vulnerability rating."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_hail_loss_severity_rating":{"type":"object","properties":{"value":{"type":"number","example":1,"description":"Hail loss severity rating of the structure."},"unit":{"type":"string","example":"rating","description":"Unit of measure for hail loss severity rating."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for hail loss severity rating."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_roof_air_conditioner_count":{"type":"object","properties":{"value":{"type":"number","example":0,"description":"Number of air conditioners on the roof."},"unit":{"type":"string","example":"count","description":"Unit of measure for air conditioner count."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for air conditioner count estimation."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_roof_evaporative_cooler_count":{"type":"object","properties":{"value":{"type":"number","example":0,"description":"Number of evaporative coolers on the roof."},"unit":{"type":"string","example":"count","description":"Unit of measure for evaporative cooler count."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for evaporative cooler count estimation."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_wildfire_mitigation_rating":{"type":"object","properties":{"value":{"type":"number","example":1,"description":"Relative probability that a property will be damaged during a wildfire."},"unit":{"type":"string","example":"rating","description":"Unit of measure for wildfire mitigation rating."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for wildfire mitigation rating."},"image_references":{"$ref":"#/components/schemas/image_references"}}},"structure_footprint_sqft":{"type":"object","properties":{"value":{"type":"number","example":2120,"description":"Total area of the roof footprint"},"unit":{"type":"string","example":"square feet","description":"Unit of measure for footprint area."},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for footprint area."}}},"vegetation_setback":{"type":"object","properties":{"value":{"type":"number","example":10,"description":"Distance between the primary structure and the nearest largest vegetation"},"unit":{"type":"string","example":"feet","description":"Unit of measure for vegetation setback"},"confidence":{"type":"number","example":-1,"description":"Confidence value (0-1) for vegetation setback"}}},"structure_roof_age":{"type":"object","properties":{"value":{"type":"number","example":10,"description":"Estimated age of a structure's roof."},"unit":{"type":"string","example":"years","description":"Unit of measure for structure roof age."},"confidence":{"type":"number","example":0.2,"description":"Confidence value (0-1) for structure roof age."},"year_built":{"type":"string","format":"date-time","example":"2014-12-25T00:00:00Z","description":"Year the structure was built."},"reasons":{"type":"array","items":{"type":"string","example":"confirmed by imagery"},"description":"Reasons for the structure roof age estimation."},"image_references":{"type":"array","items":{"type":"string"},"description":"List of image reference IDs","example":["image_10","image_11"]}}},"image_references":{"type":"array","items":{"type":"string"},"description":"List of image reference IDs","example":["image_9"]},"property_images":{"type":"object","properties":{"image_references":{"type":"array","items":{"type":"string"},"description":"List of image reference IDs","example":["image_1","image_2","image_3","image_4"]}}},"structure_images":{"type":"object","properties":{"image_references":{"type":"array","items":{"type":"string"},"description":"List of image reference IDs for the structure","example":["image_5","image_6","image_7","image_8"]}}},"imagery":{"type":"object","description":"Collection of property imagery with image references and metadata","additionalProperties":false,"properties":{"image_1..n":{"type":"object","properties":{"image_token":{"type":"string","description":"Unique identifier for the image","example":"d054eed4-d90d-4c7d-b8d4-e4a680fdadb6"},"metadata":{"type":"object","properties":{"view":{"type":"string","description":"Type of image view (ortho or oblique)","example":"ortho","enum":["ortho","oblique"]},"masked":{"type":"boolean","description":"Whether the image is masked (only applicable for ortho views)","example":false},"shot_date":{"type":"string","description":"Date when the image was captured","example":"12/12/2020"},"bbox":{"type":"object","properties":{"value":{"type":"array","description":"Bounding box coordinates [min_lon, min_lat, max_lon, max_lat]","items":{"type":"number"},"example":[-95.62248062160883,29.628853371804638,-95.6219983778335,29.629133626917348]},"epsg":{"type":"string","description":"Coordinate reference system","example":"EPSG:4326"}}},"cardinal_direction":{"type":"string","description":"Cardinal direction for oblique views","example":"north","enum":["north","south","east","west"]},"description":{"type":"string","description":"Additional description for the image","example":"image description"}},"allOf":[{"if":{"properties":{"view":{"const":"oblique"}}},"then":{"properties":{"cardinal_direction":{"type":"string","description":"Cardinal direction for oblique views","example":"south","enum":["north","south","east","west"]}},"required":["cardinal_direction"]}}]}}}},"example":{"image_1":{"image_token":"d054eed4-d90d-4c7d-b8d4-e4a680fdadb6","metadata":{"view":"ortho","masked":false,"shot_date":"12/12/2020","bbox":{"value":[-95.62248062160883,29.628853371804638,-95.6219983778335,29.629133626917348],"epsg":"EPSG:4326"},"cardinal_direction":null,"description":null}},"image_2":{"image_token":"2bad0926-67c1-4b5c-a6fd-e7f49bd906cf","metadata":{"view":"ortho","masked":true,"shot_date":"12/12/2020","bbox":{"value":[-95.62248062160883,29.628853371804638,-95.6219983778335,29.629133626917348],"epsg":"EPSG:4326"},"cardinal_direction":null,"description":null}},"image_3":{"image_token":"8a4f6454-fd33-4608-ba1a-6621ea30ceb7","metadata":{"view":"oblique","masked":false,"shot_date":"12/12/2020","bbox":{"value":[-95.62248062160883,29.628853371804638,-95.6219983778335,29.629133626917348],"epsg":"EPSG:4326"},"cardinal_direction":"south","description":null}},"image_4":{"image_token":"dc9d248a-a941-4454-8c09-388b4dbd1a20","metadata":{"view":"oblique","masked":false,"shot_date":"12/12/2020","bbox":{"value":[-95.62248062160883,29.628853371804638,-95.6219983778335,29.629133626917348],"epsg":"EPSG:4326"},"cardinal_direction":"north","description":null}},"image_5":{"image_token":"8bff5c2c-f483-45df-b02c-d307b62e0e25","metadata":{"view":"ortho","masked":false,"shot_date":"12/12/2020","bbox":{"value":[-95.62240250484156,29.62886282106872,-95.62207998606281,29.62911857086484],"epsg":"EPSG:4326"},"cardinal_direction":null,"description":null}},"image_6":{"image_token":"bee05229-7679-4655-9b63-7380d45c4a43","metadata":{"view":"ortho","masked":true,"shot_date":"12/12/2020","bbox":{"value":[-95.62240250484156,29.62886282106872,-95.62207998606281,29.62911857086484],"epsg":"EPSG:4326"},"cardinal_direction":null,"description":null}},"image_7":{"image_token":"bccfad0c-eb88-46d6-9267-7809ca139cd9","metadata":{"view":"oblique","masked":false,"shot_date":"12/12/2020","bbox":{"value":[-95.62240250484156,29.62886282106872,-95.62207998606281,29.62911857086484],"epsg":"EPSG:4326"},"cardinal_direction":"south","description":null}},"image_8":{"image_token":"00b20a37-50c3-4166-8eea-983a8bc882f3","metadata":{"view":"oblique","masked":false,"shot_date":"12/12/2020","bbox":{"value":[-95.62240250484156,29.62886282106872,-95.62207998606281,29.62911857086484],"epsg":"EPSG:4326"},"cardinal_direction":"north","description":null}},"image_9":{"image_token":"jdnw3u4n340nw","metadata":{"view":"ortho","masked":false,"shot_date":"02/21/2024","bbox":null,"cardinal_direction":null,"description":null}},"image_10":{"image_token":"jdnw3u4n340nw","metadata":{"view":"ortho","masked":false,"shot_date":"02/21/2024","bbox":null,"cardinal_direction":null,"description":"Image prior to reroof"}},"image_11":{"image_token":"84fjjfjfjfjjf","metadata":{"view":"ortho","masked":false,"shot_date":"02/06/2025","bbox":null,"cardinal_direction":null,"description":"Image after reroof"}}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"x-tagGroups":[{"name":"PROPERTY DATA API","tags":["Request Property Data","Get Results"]},{"name":"IMAGE API","tags":["Image Retrieval"]}]}